<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity"
    >

    <!-- adding permissions on below line -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:name="com.us517.today.TodayApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comus517today"
        tools:targetApi="31">
        <meta-data android:name = "googleApiKey" android:value = ""/>
        <activity
            android:name=".InitialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.BaseActivity">
        </activity>
        <activity
            android:name=".activity.PaymentManageActivity">
        </activity>
        <activity
            android:name=".activity.AddressManageActivity">
        </activity>
        <activity
            android:name=".activity.LanguageSelectActivity">
        </activity>
        <activity
            android:name=".activity.SettingActivity">
        </activity>
        <activity
            android:name=".activity.ContactActivity">
        </activity>
        <activity
            android:name=".activity.CreditActivity">
        </activity>
        <activity
            android:name=".activity.FavoriteActivity">
        </activity>
        <activity
            android:name=".activity.SignInActivity">
        </activity>
        <activity
            android:name=".activity.ProfileActivity">
        </activity>
        <activity
            android:name=".activity.NewCardActivity">
        </activity>
        <activity
            android:name=".activity.ModifyAddressActivity">
        </activity>
    </application>

</manifest>